.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    width: 100%;
    max-width: 400px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    text-align: center;
}

.message {
    font-size: 1.5rem;
    color: var(--color-text-light);
    font-weight: 800;
    letter-spacing: 0.1em;
}