@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800&display=swap');
@import './variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

button {
    font-family: var(--font-main);
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    font-weight: 800;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}