.card {
    background-color: var(--color-surface);
    padding: var(--spacing-lg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    overflow: hidden;
    border: 2px solid #f0f0f0;
}

.title {
    font-family: var(--font-main);
    font-size: 1.5rem;
    margin-bottom: var(--spacing-md);
    text-align: center;
    color: var(--color-text);
    font-weight: 800;
}

.content {
    position: relative;
    z-index: 2;
}